<app-nav-bar></app-nav-bar>
<div class="Tutto">
    <div class="Scritta">
        <div class="icona">
            <img src="../../favicon.ico" class="icon">
            <p class="text">Vendità libro</p>
        </div>
        <h1>Compra, Vendi, Leggi!</h1>
        <p>Entra nel mondo dei libri con il nostro marketplace! Compra, vendi, e scambia libri senza limiti.
             La tua prossima avventura letteraria ti aspetta!</p>
        <button class="button">Inizia Ora</button>
    </div>
    <div >
        <img src="../../../assets/defImg.png" alt="" class="Img">
    </div>
</div>
