.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: aquamarine;
}

.icona {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.links {
    display: flex;
    min-width: 40%;
    justify-content: space-between;
    align-items: center;

}

.icon {
    max-width: 28px;
    max-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}